<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570991179221-ohqp7sd35ep87smeho4vqibonej3lm54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570991179221-ohqp7sd35ep87smeho4vqibonej3lm54</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>570991179221-nb68np7lfp1rpr8k00amgb99hm3i6vmp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAmJDVwxia6b5PDbTSBRSbcW9ul0cJhLg</string>
	<key>GCM_SENDER_ID</key>
	<string>570991179221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelAiFront</string>
	<key>PROJECT_ID</key>
	<string>travelai-88a07</string>
	<key>STORAGE_BUCKET</key>
	<string>travelai-88a07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570991179221:ios:ea80522d84d25f8caa395c</string>
</dict>
</plist>